:root {
    --primary-color: #fc5185;
    --second-color: #364f6b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e7e7e7;
}

.title {
    font-size: 28pt;
    color: var(--primary-color);
    text-transform: uppercase;
}

.bg-second-color {
    background-color: var(--second-color);
}

.small-margin-top {
    margin-top: 3vh;
}

.gray-line-right {
    /* TODO: update this gray color */
    border-right: 1px solid #d6d6d6;
}

.src-button {
    background-color: var(--second-color);
    border: 1px solid transparent;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
    color: #ffffff;
    cursor: pointer;
    transition: all .4 ease-in-out;
}

.src-button:hover {
    background-color: #ffffff;
    color: var(--second-color);
    border-color: var(--second-color);
    transform: scale(1.01);
}

.src-button-inverted {
    background-color: var(--primary-color);
    border: 1px solid transparent;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
    color: #ffffff;
    cursor: pointer;
    transition: all .4 ease-in-out;
}

.src-button-inverted:hover {
    background-color: #ffffff;
    color: var(--primary-color);
    border-color: var(--primary-color);
    transform: scale(1.01);
}
